.layout {
  background-color: #131619;
  width: 98vw;
  height: 96vh;
  margin: 2vh 1vw;
  border-radius: 2vh;
  padding: 12px;
  display: flex;
  align-items: start;
  justify-content: start;
}

.main_content {
  margin-left: 12px;
  width: 80%;
  height: 100%;
}