.heading {
  display: flex;
  gap: 8px;
}

.headingGradient {
  background: -webkit-linear-gradient(60deg, #4D62E5, #87DDEE, #B6F09C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph {
  color: #9B9C9E;
  margin-bottom: 64px;
}