@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Jost", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*
  * Basic color variables
  */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #6E00FF;
  --color-dark: #202329;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: var(--color-black);
}

a:hover {
  color: var(--color-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
