$primaryColor: #ff9800;
$defaultColor: #B6F09C;
$transitionDuration: 0.25s;

.button {
    margin: 4px;
    background: $defaultColor;
    color: var(--color-black);
    font-weight: 600;
    font-size: 16px;
    height: 48px;
    padding: 12px 24px;
    border: 1px solid $defaultColor;
    outline: 4px solid rgba(213, 255, 193, 0);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background $transitionDuration ease, color $transitionDuration ease, outline $transitionDuration ease;

    &:hover {
        background: #c8fbf2;
        outline: 4px solid #3f9068;
    }

    &:focus {
        background: #c8fbf2;
        outline: 4px solid #3f9068;
    }

    &.primary {
        border: 1px solid $primaryColor;

        &:hover {
            background: $primaryColor;
        }

        &[disabled] {
            cursor: default;
            opacity: 0.5;
            background: $primaryColor;
            color: $defaultColor;
    
            &:hover {
                background: $primaryColor;
            }
        }    
    }

    &[disabled] {
        cursor: default;
        opacity: 0.5;
        background: $defaultColor;
        color: var(--color-white);

        &:hover {
            background: $defaultColor;
        }
    }
}
