.card {
  outline: none;
  width: 100%;
  border: none;
  background: none;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: start;
  gap: 16px;
  padding: 14px 16px;
  cursor: pointer;
  border-radius: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: all .2s;

  &:hover {
    background-color: #131619;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }

  &:active {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background-color: #23282c;
  }

  &:focus {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background-color: #23282c;
  }
}

.icon {

}

.title {
  color: white;
}